<section id="features">
  <div class="section-container my-20">
    <div class="relative flex flex-col md:flex-row md:space-x-32">
      <!-- Image -->
      <div class="md:w-1/2">
        <img
          src="/images/image-computer.png"
          alt="computer"
          class="md:aboslute top-0 right-[50%]"
        />
      </div>

      <!-- Item Container -->

      <div
        class="flex flex-col mt-16 mb-24 space-y-12 text-xl md:mb-60 mb:text-left md:pd-16 md:w-1/2"
      >
        <!-- item 1 -->
        <div>
          <h5>Quick Search</h5>
          <p class="max-w-md text-grayishBlue">
            Easily search your snippets by content, category, web address,
            application, and more.
          </p>
        </div>
        <!-- Item 2 -->
        <div>
          <h5>iCloud Sync</h5>
          <p class="max-w-md text-grayishBlue">
            Instantly saves and syncs snippets across all your devices.
          </p>
        </div>
        <!-- Item 3 -->
        <div>
          <h5>Complete History</h5>
          <p class="max-w-md text-grayishBlue">
            Retrieve any snippets from the first moment you started using the
            app.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Access Anywhere -->
<section id="acess">
  <div class="section-container my-20">
    <h3>Access Clipboard Anywhere</h3>
    <p
      class="max-w-3xl mx-auto mb-24 text-xl leading-9 text-center text-grayishBlue"
    >
      Wether you are on the go, or at your computer, you can access all your
      Clipboard snippets in a few simple clicks.
    </p>
    <img src="/images/image-devices.png" alt="" class="mx-auto" />
  </div>
</section>
