<!-- Supercharge Section -->
<section id="supercharge">
  <div class="section-container my-20">
    <h3>Supercharge your workflow</h3>
    <p
      class="max-w-3xl mx-auto mb-16 text-xl leading-9 text-center text-grayishBlue"
    >
      We've got the tools to boost your productivity.
    </p>
    <!-- Items Container -->
    <div
      class="flex flex-col items-center justify-between space-y-16 md:flex-row md:space-y-0 space-x-12"
    >
      <!-- Item 1 -->
      <div class="flex flex-col items-center space-y-5">
        <img src="/images/icon-blacklist.svg" alt="" />
        <h5>Create Blacklist</h5>
        <p class="max-w-md text-grayishBlue">
          Easily search your snippets by content, category, web address,
          applications, and more.
        </p>
      </div>
      <!-- Item 2 -->
      <div class="flex flex-col items-center space-y-5">
        <img src="/images/icon-text.svg" alt="" />
        <h5>Plain Text Snippets</h5>
        <p class="max-w-md text-grayishBlue">
          Remove unwanted formatting from copied text for a consistent look.
        </p>
      </div>
      <!-- Item 3 -->
      <div class="flex flex-col items-center space-y-5">
        <img src="/images/icon-preview.svg" alt="" />
        <h5>Sneak Preview</h5>
        <p class="max-w-md text-grayishBlue">
          Quick preview of all your Clipboard for easy access.
        </p>
      </div>
    </div>
  </div>
</section>
